<!DOCTYPE html>
<html>
<head>
    <title>Добавление предмета</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавление предмета</h1>
     <form method="POST">
        
        <label>Название</label><br>
        <input name="Name" class="field"/><br><br>

        <label>Описание</label><br>
        <input name="Desc" class="field"/><br><br>

        <input type="submit" value="Добавить" />
     </form>
     <a href="/">Вернуться</a>
</body>
<html>